/* CSS */
.markdown code {
    font-family: 'Fira Code', FontAwesome, monospace;
    font-feature-settings: "calt";
}

@supports (font-variation-settings: normal) {
    .markdown code {
        font-feature-settings: "calt";
        font-family: 'Fira Code VF', FontAwesome, monospace;
    }
}
